/****************************
Variables (colors etc.)
****************************/

/* Colors */
// $grey: #ddd;


@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../styles/_fonts/ProximaNova-Semibold.eot');
	src: url('../styles/_fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../styles/_fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../styles/_fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Scriptorama Tradeshow JF';
	src: url('../styles/_fonts/ScriptoramaTradeshowJF.eot');
	src: url('../styles/_fonts/ScriptoramaTradeshowJF.eot?#iefix') format('embedded-opentype'),
		url('../styles/_fonts/ScriptoramaTradeshowJF.woff') format('woff'),
		url('../styles/_fonts/ScriptoramaTradeshowJF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../styles/_fonts/ProximaNova-Regular.eot');
	src: url('../styles/_fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../styles/_fonts/ProximaNova-Regular.woff') format('woff'),
		url('../styles/_fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Type */
$font-size-base: 16px !default;
$proxy: 'Proxima Nova Lt';
$proxyreg: 'Proxima Nova Rg';
$script: 'Scriptorama Tradeshow JF';