/*!
Theme Name: The Patrician Company Theme
Description: Custom theme for The Patrician Company
Author: Alchemy + Aim
Author URI: http://www.alchemyandaim.com
*/
/**
 * Main Style.scss
 * output file that brings together all of the parts,
 * then contains the most specific styles.
 * The parts are imported in order of specificty.
 */
/****************************
Variables (colors etc.)
****************************/
/* Colors */
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../styles/_fonts/ProximaNova-Semibold.eot");
  src: url("../styles/_fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../styles/_fonts/ProximaNova-Semibold.woff") format("woff"), url("../styles/_fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Scriptorama Tradeshow JF';
  src: url("../styles/_fonts/ScriptoramaTradeshowJF.eot");
  src: url("../styles/_fonts/ScriptoramaTradeshowJF.eot?#iefix") format("embedded-opentype"), url("../styles/_fonts/ScriptoramaTradeshowJF.woff") format("woff"), url("../styles/_fonts/ScriptoramaTradeshowJF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../styles/_fonts/ProximaNova-Regular.eot");
  src: url("../styles/_fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../styles/_fonts/ProximaNova-Regular.woff") format("woff"), url("../styles/_fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Type */
/***************************************
Mixins
contains global mixins, functions, helper selectors, etc.
***************************************/
/* Self-clearing float mixin */
/* hover color mixin */
/* hover background-color mixin */
/* Convert px values to rems */
/* Remove default styling on UL elements */
/* Center an element */
/***/
/* Media Queries */
/* Placeholder Color */
/***/
/* Fonts */
/****************************
Base
contains base element global styles,
such as h1, h2, p, a, blockquote etc.
****************************/
::selection {
  background: #888;
  color: white;
}

::-moz-selection {
  background: #888;
  color: white;
}

body {
  font-size: 16px;
  margin: 0;
}

.featured-image img {
  width: 100%;
  height: auto;
}
.container {
    position: relative;
    z-index: 0;
}

/****************************
Components
contains each self-contained components
****************************/
/* group clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/***************************************
General 
contains styling for larger layout components; 
e.g. nav, header, footer, etc.
***************************************/
/****************************
Header
****************************/
header {
  position: absolute;
  width: 100%;
  z-index: 9;
}

header .logo {
  float: left;
  margin: 15px 3px;
}

header .center-menu {
  position: absolute;
  width: 625px;
  left: 0;
  right: 0;
  margin: auto;
}

header .center-menu ul {
  list-style-type: none;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 38px;
  padding:0;
}

header .center-menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  letter-spacing: 0.13rem;
  transition: all 0.5s;
}

header .center-menu ul li a:hover {
  color:#235b60;
}

/****************************
Mobile Menu
****************************/
.open {
  position: fixed;
  z-index: 9999999999;
  top: 9px;
  right: 5px;
  width: 50px;
  height: 40px;
  display: none;
  transition:all 0.5s;
}

.open span, .open span:before, .open span:after {
  width: 35px;
  height: 2px;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
    top: 19px;
}

.open span:before {
  top: -9px;
}

.open span:after {
    bottom: 2px;
}

.open.active span {
  background-color: transparent;
}

.open.active span:before, .open.active span:after {
  top: 0;
  background-color: #235b60;
}

.open.active span:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #235b60;
}

.open.active span:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  color: #235b60;
}
.open.active {
  background:#fff!important;
}

.open:hover {
  cursor: pointer;
}

#container {
  overflow: hidden;
  position: Relative;
}

#slideout {
  display: block;
  background: #fff;
  position: fixed;
  width: 270px;
  height: 100vh;
  z-index: 9999999;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  top: 0;
  right: -350px;
  overflow: hidden;
  transition: all 0.7s;
}

#slideout img {
  margin: 60px auto -5px;
  height: 70px;
}

#slideout a {
  color: #235b60;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  letter-spacing: 0.13rem;
}

#slideout li {
  line-height: 3.7;
}

#slideout ul {
  padding: 0 !important;
}

#slideout .close {
  position: absolute;
  right: 30px;
  top: -10px;
}

#slideout .close img {
  width: 20px;
}

/****************************
Footer
****************************/
footer {
  background-color: #235b60;
  text-align: center;
  padding: 55px 0;
}

footer h4 {
  color: #fff;
  font-family: "Scriptorama Tradeshow JF";
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin: 0 0 50px;
}

footer a.contact {
  background: transparent;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.15rem;
  padding: 20px 30px;
  font-family: "Proxima Nova Lt";
  transition: all 0.5s;
}

footer a.contact:hover {
  background: #fff;
  color: #235b60;
}

footer ul {
  list-style-type: none;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 0;
  margin: 60px auto 0;
  width: 165px;
}

/****************************
Woocommerce Styles
Putting style overrides into the
following code blocks will provide enough
specificity to override most woocommerce styles
****************************/
/****************************
General Styles
****************************/
.featured-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.featured-image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.25);
  opacity: 1;
  transition: all 0.5s;
}

.featured-image h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  height: 135px;
  font-family: "Scriptorama Tradeshow JF";
  color: #fff;
  font-size: 120px;
  font-weight: 100;
  letter-spacing: 0.05rem;
}

.featured-image h1 .span {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
  margin-top: 11px;
}

.featured-image .arrowdown {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.featured-image .arrowdown img {
  width: 30px;
}

.inner-wrap {
  width: 1175px;
  margin: 97px auto 0;
}

.inner-wrap h4 {
  color: #235b60;
  font-family: "Scriptorama Tradeshow JF";
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin: 0 0 25px;
  letter-spacing: 0.03rem;
}

.inner-wrap .who {
  /*width: 985px;*/
  margin: 0 auto 85px;
}

.inner-wrap .who p {
  font-family: "Proxima Nova Lt";
  font-size: 16px;
  color: #235b60;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.095rem;
  line-height: 2.5;
  -ms-word-wrap: break-none;
  word-break: break-none;
  word-wrap: break-none;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

.inner-wrap .service-flex {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 40px auto 65px;
}

.inner-wrap .service-flex .single-service {
  width: 375px;
  color: #235b60;
}

.inner-wrap .service-flex .single-service .image {
  width: 375px;
  height: 275px;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.inner-wrap .service-flex .single-service h5 {
  text-align: center;
  font-family: "Scriptorama Tradeshow JF";
  font-size: 34px;
  font-weight: 100;
  margin: 0 0 35px;
}

.inner-wrap .service-flex .single-service .description {
  font-family: "Proxima Nova Lt";
  font-size: 16px;
  color: #235b60;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  line-height: 2.5;
  padding: 0 10px;
}

.inner-wrap .eventbook h4 {
  margin-bottom: 38px;
}

.inner-wrap .team-flex {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 102px auto 67px;
}

.inner-wrap .team-flex .team-member {
  width: 380px;
  color: #235b60;
}

.inner-wrap .team-flex .team-member .image {
  width: 380px;
  height: 570px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.inner-wrap .team-flex .team-member h5 {
  text-align: center;
  font-family: "Scriptorama Tradeshow JF";
  font-size: 34px;
  font-weight: 100;
  margin: 0 0 -25px;
}

.inner-wrap .team-flex .team-member .title {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2.5;
}

.inner-wrap .team-flex .team-member a {
  text-decoration: none;
  color: #235b60;
}

.inner-wrap .single-team .team-flex2 {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  color: #235b60;
  margin: 102px auto 92px;
}

.inner-wrap .single-team .team-flex2 .left {
  width: 380px;
}

.inner-wrap .single-team .team-flex2 .left .image {
  width: 380px;
  height: 570px;
  background-size: cover;
  background-position: center;
}

.inner-wrap .single-team .team-flex2 .right {
  width:750px;
  text-align: left;
  padding-left: 25px;
}

.inner-wrap .single-team .team-flex2 .right .about-member {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  line-height: 1.75;
  margin-top: 26px;
}

.inner-wrap .single-team .team-flex2 .right .about-member em {
  font-family: "Scriptorama Tradeshow JF";
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 0.05rem;
}

.inner-wrap .single-team .team-flex2 h5 {
  text-align: left;
  font-family: "Scriptorama Tradeshow JF";
  font-size: 50px;
  font-weight: 100;
  margin: 0 auto -25px;
}

.inner-wrap .single-team .team-flex2 .title {
  font-family: "Proxima Nova Lt";
  font-size: 16px;
  color: #235b60;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  line-height: 2.5;
}

.inner-wrap .single-team .team-flex2 a {
  text-decoration: none;
  color: #235b60;
}

.inner-wrap .instagram {
  width: 975px;
  margin: 95px auto 80px;
}

.page-id-9 .featured-image h1, .page-id-7 .featured-image h1 {
  font-size: 100px;
  height: 115px;
}

.page-template-page-team-member .featured-image h1 {
  font-size: 100px;
  height: 115px;
}

.post-type-archive-eventbook .featured-image {
  margin-bottom: 85px;
}

.post-type-archive-eventbook .event-listing {
  margin-bottom: 100px;
}

.single-eventbook .featured-image {
  margin-bottom: 50px;
}

.single-eventbook .featured-image h1 {
  font-size: 100px;
}

.contact-sub {
  font-family: "Scriptorama Tradeshow JF";
  font-size: 50px;
  font-weight: 100;
  color: #235b60;
  text-align: center;
  margin: 0 auto 90px;
}

.contact-flex {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 0 auto 135px;
}

.contact-flex ul.gfield_checkbox {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.contact-flex ul.gfield_checkbox li {
  width: 50%;
}

.contact-flex .left {
  width: 280px;
}

.contact-flex .right {
  width: 775px;
}

.contact-flex p {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  line-height: 2.5;
}

.contact-flex p a {
  color: #235b60;
  text-decoration: none;
}

.contact-flex .social {
  list-style-type: none;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 0;
  margin: 31px 0 0px -10px;
  width: 165px;
}
.contact-flex .social a {
    color: #235b60;
    font-size: 30px;
}
.social a {
        color: #fff;
    font-size: 30px;
}
.contact-flex .gform_wrapper {
  margin: -53px 0;
  max-width: 100%;
}

.contact-flex .gform_wrapper ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact-flex .gform_wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact-flex .gform_wrapper :-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact-flex .gform_wrapper :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact-flex .gform_wrapper .ginput_complex .ginput_left input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .contact-flex .gform_wrapper .ginput_complex .ginput_right input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .contact-flex .gform_wrapper .ginput_complex .ginput_right select, .contact-flex .gform_wrapper .ginput_complex input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .contact-flex .gform_wrapper .ginput_complex select {
  border: none;
  border-bottom: 1px solid #235b60;
  border-radius: 0;
  height: 40px;
  padding-bottom: 15px;
  padding-left: 0;
        -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
}

.contact-flex .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .contact-flex .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
  display: none;
}

.contact-flex .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  border: none;
  border-bottom: 1px solid #235b60;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  padding-bottom: 15px;
  padding-left: 0;
}
.expand {
    height: 1em;
    width: 50%;
    padding: 3px;
}
.gform_wrapper textarea.medium {
  border: none;
  border-bottom: 1px solid #235b60;
  height: 100px!important;
}
.gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
  position: relative;
}
.gform_wrapper ul.gfield_checkbox li label:before  {
  content:"";
  display:block;
  width:10px;
  height:10px;
  border:1px solid #235b60;
      position: absolute;
    left: 2px;
    top: 7px;
}
.gform_wrapper ul.gfield_checkbox li label.selected:before{
   content:"";
  display:block;
  width:10px;
  height:10px;
  border:1px solid #235b60;
  background-color:#235b60;
      position: absolute;
    left: 2px;
    top: 7px;
}
.gform_wrapper ul.gfield_checkbox li input {
  opacity: 0;
}
.contact-flex #gform_fields_1 {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.contact-flex .gform_wrapper .top_label .gfield_label {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact-flex .gform_wrapper ul.gfield_checkbox li label, .contact-flex .gform_wrapper ul.gfield_radio li label {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact-flex #field_1_1 {
  width: 100%;
}

.contact-flex #field_1_2 {
  width: 50%;
}

.contact-flex #field_1_3 {
  width: 50%;
}

.contact-flex #field_1_4 {
  width: 50%;
  margin-top: 55px;
}

.contact-flex #field_1_5 {
  width: 50%;
  margin-top: 24px;
}

.contact-flex #field_1_6 {
  width: 100%;
  margin-top: -3px;
}

.contact-flex .gform_wrapper .gform_footer {
  text-align: center;
  margin-top: 25px;
}

.contact-flex .gform_wrapper .gform_footer input.button, .contact-flex .gform_wrapper .gform_footer input[type=submit], .contact-flex .gform_wrapper .gform_page_footer input.button, .contact-flex .gform_wrapper .gform_page_footer input[type=submit] {
  background: none;
  border: none;
  font-family: "Scriptorama Tradeshow JF";
  color: #235b60;
  font-size: 30px;
  font-weight: 100;
        -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
}

.event-listing .singleImage {
  width: 1180px;
  height: 540px;
  margin: 20px auto;
  position: relative;
}

.event-listing .singleImage .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.35);
  opacity: 0;
  transition: all 0.5s;
}

.event-listing .singleImage .title {
  text-align: center;
  font-family: "Scriptorama Tradeshow JF";
  font-size: 50px;
  font-weight: 100;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.event-listing .singleImage:hover .overlay {
  opacity: 1;
}

.event-listing a {
  text-decoration: none;
  color: #fff;
}

.error404 .header h1 {
  font-family: "Scriptorama Tradeshow JF";
  font-size: 50px;
  font-weight: 100;
  color: #235b60;
  text-align: center;
  margin: 100px 0;
}

.gallery {
  width: 990px;
  margin: 0 auto 50px;
}

.ezcol-one-half {
  margin-right: 2% !important;
}

.ezcol-one-half:nth-child(odd) {
  margin-right: 0 !important;
}

.ezcol-one-half {
  width: 48% !important;
}

#gform_confirmation_message_1 {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  color: #235b60;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  line-height: 2.5;
}

/****************************
Media Queries
****************************/
@media all and (max-width: 1175px) {
  .inner-wrap {
    width: 1030px;
  }
  .inner-wrap .service-flex .single-service {
    width: 300px;
  }
  .inner-wrap .service-flex .single-service .image {
    width: 300px;
    height: 200px;
  }
  .event-listing .singleImage {
    width: 1030px;
    height: 400px;
  }
  .inner-wrap .team-flex .team-member {
    width: 300px;
  }
  .inner-wrap .team-flex .team-member .image {
    width: 300px;
    height: 490px;
  }
  .page-id-9 .featured-image h1, .page-id-7 .featured-image h1 {
    font-size: 90px;
    height: 105px;
  }
  .contact-flex .right {
    width: 650px;
  }
  .inner-wrap .single-team .team-flex2 .right {
    width: 650px;
  }
}

@media all and (max-width: 1040px) {
  .inner-wrap {
    width: 750px;
  }
  .inner-wrap .who {
    width: 100%;
    margin: 0 auto 85px;
  }
  .inner-wrap .service-flex .single-service .image {
    width: 240px;
    height: 160px;
  }
  .inner-wrap .service-flex .single-service {
    width: 240px;
  }
  .event-listing .singleImage {
    width: 100%;
    height: 270px;
  }
  .inner-wrap .instagram {
    width: 100%;
    margin: 95px auto 80px;
  }
  .page-id-9 .featured-image h1, .page-id-7 .featured-image h1 {
    font-size: 70px;
    height: 82px;
  }
  .inner-wrap .team-flex .team-member {
    width: 240px;
  }
  .inner-wrap .team-flex .team-member .image {
    width: 240px;
    height: 380px;
  }
  .page-template-page-team-member .featured-image h1 {
    font-size: 70px;
    height: 115px;
  }
  .inner-wrap .single-team .team-flex2 .left {
    width: 280px;
  }
  .inner-wrap .single-team .team-flex2 .left .image {
    width: 280px;
    height: 470px;
  }
  .inner-wrap .single-team .team-flex2 .right .about-member {
    font-size: 14px;
  }
  .post-type-archive-eventbook .event-listing {
    width: 750px;
    margin: 0 auto 100px;
  }
  .single-eventbook .featured-image h1 {
    font-size: 70px;
  }
  .gallery {
    width: 770px;
    margin: 0 auto 50px;
  }
  .gallery img {
    max-width: 100%;
    height: auto;
  }
  .contact-flex {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .contact-flex .left {
    width: 100%;
  }
  .contact-flex .right {
    width: 100%;
    margin-top:50px;
  }
  .inner-wrap .single-team .team-flex2 .right {
      width: 470px;
  }
    .inner-wrap .single-team .team-flex2 {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .inner-wrap .single-team .team-flex2 .left {
    width: 380px;
    margin: 0 auto 20px;
  }
  .inner-wrap .single-team .team-flex2 .left .image {
    width: 380px;
    height: 570px;
  }
  .inner-wrap .single-team .team-flex2 .right {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .inner-wrap .single-team .team-flex2 h5 {
      text-align:center;
  }
  .inner-wrap .single-team .team-flex2 .title {
      text-align:center;
  }
  .inner-wrap .single-team .team-flex2 .right .about-member {
    text-align:Center;
  }
}

@media all and (max-width: 768px) {
  header .center-menu ul {
    padding: 0;
  }
  header .center-menu {
    width: 425px;
  }
  header .center-menu ul li a {
    font-size: 13px;
  }
  .featured-image h1 {
    font-size: 90px;
  }
  .inner-wrap {
    width: 90%;
  }
  .inner-wrap .service-flex {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .inner-wrap .service-flex .single-service {
    width: 450px;
    margin: 0 auto;
  }
  .inner-wrap .service-flex .single-service .image {
    width: 340px;
    height: 260px;
    margin: 0 auto 50px;
  }
  .event-listing .singleImage {
    width: 100%;
    height: 250px;
  }
  .page-id-9 .featured-image h1, .page-id-7 .featured-image h1 {
    font-size: 60px;
    line-height: 1;
  }
  .inner-wrap .team-flex {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .inner-wrap .team-flex .team-member {
    width: 440px;
    margin: 0 auto 20px;
  }
  .inner-wrap .team-flex .team-member .image {
    width: 340px;
    height: 480px;
    margin: 0 auto 20px;
  }
  .inner-wrap .single-team .team-flex2 {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .inner-wrap .single-team .team-flex2 .left {
    width: 380px;
    margin: 0 auto 20px;
  }
  .inner-wrap .single-team .team-flex2 .left .image {
    width: 380px;
    height: 570px;
  }
  .inner-wrap .single-team .team-flex2 .right {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .inner-wrap .single-team .team-flex2 h5 {
    text-align: center;
  }
  .inner-wrap .single-team .team-flex2 .title {
    text-align: center;
  }
  .inner-wrap .single-team .team-flex2 .right .about-member {
    text-align: center;
  }
  .post-type-archive-eventbook .event-listing {
    width: 90%;
  }
  .gallery {
    width: 90%;
    margin: 0 auto 50px;
  }
}
@media all and (max-width: 667px){
  .instagram .lightwidget li {
    width: 50%!important;
    margin: 0 auto 0!important;
  }
  .instagram .lightwidget .lightwidget__tile {
    float:none!important;
  }
}

@media all and (max-width: 545px) {
  header .center-menu {
    display: none;
  }
  .open {
    display: block;
  }
  .gallery img {
    max-width: 97%;
    height: auto;
}
  .event-listing .singleImage .title {
    font-size: 40px;
    line-height: 1;
  }
  footer h4 {
    padding: 0 20px;
  }
  .featured-image h1 {
    padding: 0 20px;
    line-height:1;
  }
  .contact-flex .social {
        margin: 31px 0 0px 0px;
  }
}

@media all and (max-width: 481px) {
  #sb_instagram.sbi_col_10 #sbi_images .sbi_item, #sb_instagram.sbi_col_3 #sbi_images .sbi_item, #sb_instagram.sbi_col_4 #sbi_images .sbi_item, #sb_instagram.sbi_col_5 #sbi_images .sbi_item, #sb_instagram.sbi_col_6 #sbi_images .sbi_item, #sb_instagram.sbi_col_7 #sbi_images .sbi_item, #sb_instagram.sbi_col_8 #sbi_images .sbi_item, #sb_instagram.sbi_col_9 #sbi_images .sbi_item {
      width: 50%!important;
  }
  #sb_instagram .sbi_photo {
    height:200px!important;
  }
  .featured-image h1 {
    font-size: 75px;
    line-height: 0.5;
  }
  .inner-wrap .service-flex .single-service .image {
    width: 100%;
    height: 200px;
    margin: 0 auto 50px;
  }
  .event-listing .singleImage {
    width: 100%;
    height: 200px;
  }
  .inner-wrap .team-flex .team-member {
      width: 100%;
      margin: 0 auto 20px;
  }
  .inner-wrap .single-team .team-flex2 .left {
      width: 100%;
      margin: 0 auto 20px;
  }
  .inner-wrap .service-flex .single-service {
      width: 100%;
      margin: 0 auto;
  }
  footer h4 {
    font-size: 40px;
  }
  .inner-wrap .team-flex .team-member .image {
    width: 300px;
    height: 420px;
    margin: 0 auto 20px;
  }
  .page-template-page-team-member .featured-image h1 {
    font-size: 70px;
    height: 115px;
    line-height: 0.8;
  }
  .inner-wrap .single-team .team-flex2 .left .image {
      width: 100%;
      /*height: 400px;*/
      margin: 0 auto;
  }
  .single-eventbook .featured-image h1 {
    font-size: 70px;
    line-height: 0.8;
  }
  #input_1_1_3_container {
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .contact-flex #field_1_2 {
    width: 100%;
    margin-top: 0;
  }
  .contact-flex #field_1_3 {
    width: 100%;
  }
  .contact-flex #field_1_4 {
    width: 100%;
    margin-top: 55px;
  }
  .contact-flex #field_1_5 {
    width: 100%;
    margin-top: 0;
  }
}
