/*!
Theme Name: The Patrician Company Theme
Description: Custom theme for The Patrician Company
Author: Alchemy + Aim
Author URI: http://www.alchemyandaim.com
*/

/**
 * Main Style.scss
 * output file that brings together all of the parts,
 * then contains the most specific styles.
 * The parts are imported in order of specificty.
 */

@import "_utils/_variables"; // variables
@import "_utils/mixins"; // mixins, extends etc.

// @import "_vendor/vendor-custom"; // Custom 3rd-party vendor styles

@import "_base/base"; // Base element styles; e.g. body, h1-6, p, a, button

@import "_layout/components"; // For resuable, self-contained components
@import "_layout/layout"; // styling for larger components/sections; e.g. nav, header, footer

@import "_vendor/woocommerce"; // Style overrides for woocommerce elements
@import "_vendor/vendor-custom"; // Useful for custom styles on 3rd party plugins
// @import "_vendor/...";

/****************************
General Styles
****************************/
.featured-image {
	position:relative;
	z-index:-1;
	width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
	.overlay {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: rgba(36, 36, 36, 0.25);
	    opacity:1;
	    transition:all 0.5s;
	}
	h1 {
		position:absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    text-align: center;
	    height: 135px;
	    font-family: $script;
	    color:#fff;
	    font-size:120px;
	    font-weight:100;
	    letter-spacing:0.05rem;
	    .span {
		    font-family: $proxyreg;
		    font-size: 16px;
		    letter-spacing: 0.13rem;
		    text-transform: uppercase;
		    margin-top: 11px;
	    }
	}
	.arrowdown {
	    position: absolute;
	    bottom: 25px;
	    text-align: center;
	    width: 100%;
	    img {
	    	width:30px;
	    }
	}
}
.inner-wrap {
	width:1175px;
    margin: 97px auto 0;
	h4 {
		color:#235b60;
		font-family:$script;
		font-size:50px;
	    font-weight: 100;
	    text-align: center;
	    margin: 0 0 25px;
	    letter-spacing: 0.03rem;
	}
	.who {
	    /*width: 985px;*/
    	margin: 0 auto 85px;
    	p {
    		font-family:$proxy;
    		font-size:16px;
    		color:#235b60;
    	    text-align: center;
		    text-transform: uppercase;
    		letter-spacing: 0.095rem;
		    line-height: 2.5;
		    /*-ms-word-wrap: break-all;
			word-break: break-all;
			word-wrap: break-all;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
			// sets a minimum number of characters before and after the break
			-webkit-hyphenate-before: 2;
			-webkit-hyphenate-after: 3;
			hyphenate-lines: 3;*/
    	}
	}
	.single-service a {
		text-decoration: none;
		color:#235b60;
	}
	.service-flex {
		display: flex;
	    display:-ms-flex;
	    display:-webkit-flex;
	    justify-content: space-between;
	    -ms-justify-content: space-between;
	    -webkit-justify-content: space-between;
	    margin: 40px auto 65px;
		.single-service {
			width:375px;
			color:#235b60;
			.image {
			    width: 375px;
			    height: 275px;
			    background-size: cover;
			    background-position: center;
			    margin-bottom: 50px;
			}
			h5 {
				text-align:center;
				font-family:$script;
				font-size:34px;
			    font-weight: 100;
    			margin: 0 0 35px;
			}
			.description {
	    		font-family:$proxy;
	    		font-size:16px;
	    		color:#235b60;
	    	    text-align: center;
			    text-transform: uppercase;
			    letter-spacing: 0.07rem;
			    line-height: 2.5;
			    padding: 0 10px;
			}
		}
	}
	.eventbook {
		h4 {
		    margin-bottom: 38px;
		}
	}
	.team-flex {
		display: flex;
	    display:-ms-flex;
	    display:-webkit-flex;
	    justify-content: space-between;
	    -ms-justify-content: space-between;
	    -webkit-justify-content: space-between;
	    margin: 102px auto 67px;
		.team-member {
			width:380px;
			color:#235b60;
			.image {
			    width: 380px;
			    height: 570px;
			    background-size: cover;
			    background-position: center;
			    margin-bottom: 20px;
			}
			h5 {
				text-align:center;
				font-family:$script;
				font-size:34px;
			    font-weight: 100;
			    margin: 0 0 -25px;
			}
			.title {
	    		font-family:$proxyreg;
	    		font-size:16px;
	    		color:#235b60;
	    	    text-align: center;
			    text-transform: uppercase;
			    letter-spacing: 0.1rem;
			    line-height: 2.5;
			}
			a {
				text-decoration:none;
				color:#235b60;
			}
		}
	}
	.single-team {
		.team-flex2 {
			display: flex;
		    display:-ms-flex;
		    display:-webkit-flex;
		    justify-content: space-between;
		    -ms-justify-content: space-between;
		    -webkit-justify-content: space-between;
			color:#235b60;
			margin: 102px auto 92px;
			.left {	
				width:380px;
				.image {
				    width: 380px;
				    height: 570px;
				    background-size: cover;
				    background-position: center;
				}
			}
			.right {
			    width: 100%;
			    text-align: left;
			    padding-left: 25px;
			    .about-member {
				    font-family:$proxyreg;
		    		font-size:16px;
		    		color:#235b60;
		    	    text-align: left;
				    text-transform: uppercase;
				    letter-spacing: 0.09rem;
				    line-height: 1.75;
				    margin-top: 26px;
				    em {
				    	font-family:$script;
					    text-transform: capitalize;
					    font-size: 22px;
					    font-weight: 100;
					    letter-spacing: 0.05rem;
				    }
			    }
			}
			h5 {
				text-align:left;
				font-family:$script;
			    font-size: 50px;
			    font-weight: 100;
			    margin: 0 auto -25px;
			}
			.title {
	    		font-family:$proxy;
	    		font-size:16px;
	    		color:#235b60;
	    	    text-align: left;
			    text-transform: uppercase;
			    letter-spacing: 0.07rem;
			    line-height: 2.5;
			}
			a {
				text-decoration:none;
				color:#235b60;
			}
		}
	}
	.instagram {
		width:975px;
    	margin: 95px auto 80px;
	}
}
.page-id-9, .page-id-7 {
	.featured-image h1 {
		font-size:100px;
		height: 115px;
	}
}
.page-template-page-team-member {
	.featured-image h1 {
		font-size:100px;
		height: 115px;
	}
}
.post-type-archive-eventbook {
	.featured-image {
	    margin-bottom: 85px;
	}
	.event-listing {
	    margin-bottom: 100px;
	}
}
.single-eventbook {
	.featured-image {
	    margin-bottom: 50px;
	    h1 {
	    	font-size:100px;
	    }
	}
}
.contact-sub {
	font-family:$script;
	font-size: 50px;
	font-weight: 100;
	color:#235b60;
	text-align: center;
	margin: 0 auto 90px;
}
.contact-flex {
	display: flex;
    display:-ms-flex;
    display:-webkit-flex;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0 auto 135px;
    ul.gfield_checkbox {
		display: flex;
	    display:-ms-flex;
	    display:-webkit-flex;
    	flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
    	-webkit-flex-wrap: wrap;
    	li {
    		width:50%;
    	}
    }
	.left {
		width:280px;
	}
	.right {
		width:775px;
	}
	p {
		font-family:$proxyreg;
		font-size:16px;
		color:#235b60;
	    text-align: left;
	    text-transform: uppercase;
	    letter-spacing: 0.07rem;
	    line-height: 2.5;
	    a {
	    	color:#235b60;
	    	text-decoration:none;
	    }
	}
	.social {
	    list-style-type: none;
	    display: flex;
	    display:-ms-flex;
	    display:-webkit-flex;
	    justify-content: space-between;
	    -ms-justify-content: space-between;
	    -webkit-justify-content: space-between;
	    padding: 0;
    	margin: 31px 0 0px -10px;
		width: 165px;
	}
	.gform_wrapper {
	    margin: -53px 0;
	    max-width: 100%;
	    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  	font-family:$proxyreg;
			font-size:16px;
			color:#235b60;
			text-transform:uppercase;
			letter-spacing:0.1rem;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  	font-family:$proxyreg;
			font-size:16px;
			color:#235b60;
			text-transform:uppercase;
			letter-spacing:0.1rem;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  	font-family:$proxyreg;
			font-size:16px;
			color:#235b60;
			text-transform:uppercase;
			letter-spacing:0.1rem;
		}
		:-moz-placeholder { /* Firefox 18- */
		  	font-family:$proxyreg;
			font-size:16px;
			color:#235b60;
			text-transform:uppercase;
			letter-spacing:0.1rem;
		}
	}
	.gform_wrapper .ginput_complex .ginput_left input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex .ginput_right input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex .ginput_right select, .gform_wrapper .ginput_complex input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex select {
		border:none;
		border-bottom:1px solid #235b60;
		border-radius:0;
	    height: 40px;
    	padding-bottom: 15px;
    	padding-left:0;
	}
	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
		display:none;
	}
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		border:none;
		border-bottom:1px solid #235b60;
		width:100%;
	}
	#gform_fields_1 {
		display: flex;
		display:-ms-flex;
		display:-webkit-flex;
	    flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	}
	.gform_wrapper .top_label .gfield_label {
		font-family:$proxyreg;
		font-size:16px;
		color:#235b60;
		text-transform:uppercase;
		letter-spacing:0.1rem;
	}
	.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
		font-family:$proxyreg;
		font-size:16px;
		color:#235b60;
		text-transform:uppercase;
		letter-spacing:0.1rem;
	}
	#field_1_1 {
		width:100%;
	}
	#field_1_2 {
		width:50%;
	}
	#field_1_3 {
		width:50%;
	}
	#field_1_4 {
		width:50%;
		margin-top: 55px;
	}
	#field_1_5 {
		width:50%;
		margin-top: 24px;
	}
	#field_1_6 {
		width:100%;
		margin-top: -3px;
	}
	.gform_wrapper .gform_footer {
		text-align:center;
		margin-top:25px;
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
		background:none;
		border:none;
		font-family:$script;
		color:#235b60;
		font-size:30px;
		font-weight:100;
	}
}
.event-listing {
	.singleImage {
		width:1180px;
		height:540px;
		margin: 20px auto;
		position:relative;
		.overlay {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    background: rgba(36, 36, 36, 0.35);
		    opacity:0;
		    transition:all 0.5s;
		}
		.title {
		    text-align: center;
		    font-family: "Scriptorama Tradeshow JF";
		    font-size: 50px;
		    font-weight: 100;
		    position: absolute;
		    left: 0;
		    right: 0;
		    height: 60px;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		}
	}
	.singleImage:hover {
		.overlay {
			opacity:1;
		}
	}
	a {
		text-decoration:none;
		color:#fff;
	}
}
.error404 .header h1 {
	font-family:$script;
	font-size: 50px;
	font-weight: 100;
	color:#235b60;
	text-align: center;
	margin:100px 0;
}
.gallery {
	width:990px;
    margin: 0 auto 50px;
}
.ezcol-one-half {
    margin-right: 2%!important;
}
.ezcol-one-half:nth-child(odd){
	margin-right:0!important;
}
.ezcol-one-half {
    width: 48%!important;
}
#gform_confirmation_message_1 {
	font-family: "Proxima Nova Rg";
    font-size: 16px;
    color: #235b60;    
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    line-height: 2.5;
}
/****************************
Media Queries
****************************/
@media all and (max-width:1175px){
	.inner-wrap {
	    width: 1030px;
	}
	.inner-wrap .service-flex .single-service {
		width:300px;
	}
	.inner-wrap .service-flex .single-service .image {
		width:300px;
		height:200px;
	}
	.event-listing .singleImage {
	    width: 1030px;
	    height: 400px;
	}
	.inner-wrap .team-flex .team-member {
	    width: 300px;
	}
	.inner-wrap .team-flex .team-member .image {
		width: 300px;
	    height: 490px;
	}
	.page-id-9 .featured-image h1, .page-id-7 .featured-image h1 {
		font-size: 90px;
    	height: 105px;
	}
	.contact-flex .right {
	    width: 650px;
	}
}
@media all and (max-width:1040px){
	.inner-wrap {
	    width: 750px;
	}
	.inner-wrap .who {
	    width: 100%;
	    margin: 0 auto 85px;
	}
	.inner-wrap .service-flex .single-service .image {
	    width: 240px;
	    height: 160px;
	}
	.inner-wrap .service-flex .single-service {
	    width: 240px;
	}
	.event-listing .singleImage {
	    width: 100%;
	    height: 270px;
	}
	.inner-wrap .instagram {
	    width: 100%;
	    margin: 95px auto 80px;
	}
	.page-id-9 .featured-image h1, .page-id-7 .featured-image h1 {
	    font-size: 70px;
	    height: 82px;
	}
	.inner-wrap .team-flex .team-member {
	    width: 240px;
	}
	.inner-wrap .team-flex .team-member .image {
	    width: 240px;
	    height: 380px;
	}
	.page-template-page-team-member .featured-image h1 {
	    font-size: 70px;
	    height: 115px;
	}
	.inner-wrap .single-team .team-flex2 .left {
	    width: 280px;
	}
	.inner-wrap .single-team .team-flex2 .left .image {
	    width: 280px;
    	height: 470px;
	}
	.inner-wrap .single-team .team-flex2 .right .about-member {
		font-size:14px;
	}
	.post-type-archive-eventbook .event-listing {
	    width: 750px;
	    margin: 0 auto 100px;
	}
	.single-eventbook .featured-image h1 {
	    font-size: 70px;
	}
	.gallery {
	    width: 770px;
	    margin: 0 auto 50px;
	}
	.gallery img {
		max-width: 100%;
	    height: auto;
	}
	.contact-flex {
		flex-direction:column;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
	}
	.contact-flex .left {
		width:100%;
	}
	.contact-flex .right {
	    width: 100%;
	}
}
@media all and (max-width:768px){
	header .center-menu ul {
		padding:0;
	}
	header .center-menu {
		width:425px;
	}
	header .center-menu ul li a {
		font-size:13px;
	}
	.featured-image h1 {
		font-size:90px;
	}
	.inner-wrap {
	    width: 90%;
	}
	.inner-wrap .service-flex {
		flex-direction:column;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
	}
	.inner-wrap .service-flex .single-service {
	    width: 450px;
	    margin: 0 auto;
	}
	.inner-wrap .service-flex .single-service .image {
	    width: 340px;
	    height: 260px;
	    margin: 0 auto 50px;
	}
	.event-listing .singleImage {
	    width: 100%;
	    height: 250px;
	}
	.page-id-9 .featured-image h1, .page-id-7 .featured-image h1 {
	    font-size: 60px;
	    line-height: 1;
	}
	.inner-wrap .team-flex {
		flex-direction:column;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
	}
	.inner-wrap .team-flex .team-member {
	    width: 440px;
	    margin: 0 auto 20px;
	}
	.inner-wrap .team-flex .team-member .image {
	    width: 340px;
	    height: 480px;
	    margin: 0 auto 20px;
	}
	.inner-wrap .single-team .team-flex2 {
		flex-direction:column;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
	}
	.inner-wrap .single-team .team-flex2 .left {
	    width: 380px;
	    margin: 0 auto 20px;
	}
	.inner-wrap .single-team .team-flex2 .left .image {
	    width: 380px;
	    height: 570px;
	}
	.inner-wrap .single-team .team-flex2 .right {
	    width: 100%;
	    text-align: center;
	    padding-left: 0;
	}
	.inner-wrap .single-team .team-flex2 h5 {
		text-align:center;
	}
	.inner-wrap .single-team .team-flex2 .title {
		text-align:center;
	}
	.inner-wrap .single-team .team-flex2 .right .about-member {
		text-align:center;
	}
	.post-type-archive-eventbook .event-listing {
		width:90%;
	}
	.gallery {
	    width: 90%;
	    margin: 0 auto 50px;
	}
}
@media all and (max-width:545px){
	header .center-menu {
		display:none;
	}
	.open {
		display:block;
	}
	.event-listing .singleImage .title {
		font-size:40px;
		line-height:1;
	}
}
@media all and (max-width:481px){
	.featured-image h1 {
	    font-size: 90px;
	    line-height: 0.5;
	}
	.inner-wrap .service-flex .single-service .image {
	    width: 300px;
	    height: 200px;
	    margin: 0 auto 50px;
	}
	.event-listing .singleImage {
	    width: 100%;
	    height: 200px;
	}
	footer h4 {
		font-size:40px;
	}
	.inner-wrap .team-flex .team-member .image {
	    width: 300px;
	    height: 420px;
	    margin: 0 auto 20px;
	}
	.page-template-page-team-member .featured-image h1 {
	    font-size: 70px;
	    height: 115px;
	    line-height: 0.8;
	}
	.inner-wrap .single-team .team-flex2 .left .image {
	    width: 300px;
	    height: 420px;
	    margin: 0 auto;
	}
	.single-eventbook .featured-image h1 {
	    font-size: 70px;
	    line-height: 0.8;
	}
	#input_1_1_3_container {
	    margin-bottom: 25px;
    	margin-top: 40px;
	}
	.contact-flex #field_1_2 {
    	width: 100%;
    	margin-top:0;
	}
	.contact-flex #field_1_3 {
	    width: 100%;
	}
	.contact-flex #field_1_4 {
	    width: 100%;
	    margin-top: 55px;
	}
	.contact-flex #field_1_5 {
	    width: 100%;
	    margin-top: 0;
	}
	.inner-wrap, .inner-wrap .instagram{
		margin:50px auto !important;
	}
	.post-type-archive-eventbook .featured-image{
		margin-bottom:50px !important;
	}
	.contact-sub{
		margin:0 auto 25px !important;
	}
	.inner-wrap .team-flex{
		    margin: 50px auto !important;
	}
	#services{
		margin-top:50px;
	}

}