/***************************************
General 
contains styling for larger layout components; 
e.g. nav, header, footer, etc.
***************************************/


/****************************
Header
****************************/
header {
	position:absolute;
	width:100%;
	.logo {
	    float: left;
	    margin: 15px 3px;
	}
	.center-menu {
	    position: absolute;
	    width: 625px;
	    left: 0;
	    right: 0;
	    margin: auto;
		ul {
		    list-style-type: none;
		    display: flex;
		    display:-ms-flex;
		    display:-webkit-flex;
		    justify-content: space-between;
		    -ms-justify-content: space-between;
		    -webkit-justify-content: space-between;
		    margin-top:38px;
		    li {
		    	a {
		    		color:#fff;
		    		text-decoration:none;
		    		text-transform:uppercase;
		    		font-family:$proxyreg;
		    		font-size:14px;
    				letter-spacing: 0.13rem;
    				transition:all 0.5;
		    	}
		    	a:hover {
		    		opacity:0.5;
		    	}
		    }
		}
	}
}
/****************************
Mobile Menu
****************************/
.open {
    position: fixed;
    z-index: 9999999999;
    top: 28px;
    right: 5px;
    width: 50px;
    height: 25px;
    display:none;
    span, span:before, span:after{
      width: 35px;
      height: 2px;
      position: absolute;
      display: block;
      content: '';
      transition: all 500ms ease-in-out;
      background: #fff;
    }
    span:before {
    top: -8px;
  }
  span:after {
    bottom: -8px; 
  }
}
.open.active span {
  background-color:transparent;
}
.open.active span:before, .open.active span:after {
  top: 0;
  background-color:#235b60;
}
.open.active span:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color:#235b60;
}
.open.active span:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  color:#235b60;
}
.open:hover {
  cursor: pointer;
}
#container {
  overflow: hidden;
  position:Relative;
}
#slideout {
    display: block;
    background:  #fff;
    position: fixed;
    width: 270px;
    height: 100vh;
    z-index: 9999999;
    text-align: center; 
    text-transform:uppercase;
    font-size: 0.75rem;
    letter-spacing:0.15rem;
    top:0;
    right:-350px;
    overflow:hidden;
    transition: all 0.7s;
    img {
	    margin: 60px auto -5px;
	    height: 70px;
    }
    a {
		color:#235b60;
		text-decoration:none;
		text-transform:uppercase;
		font-family:$proxyreg;
		font-size:14px;
		letter-spacing: 0.13rem;
    }
    li {
      line-height:3.7;
    }
    ul {
      padding:0!important;
    }
    .close {
      position: absolute;
      right: 30px;
      top: -10px;
      img {
        width: 20px;
      }
    }
}
/****************************
Footer
****************************/
footer {
	background-color:#235b60;
	text-align:center;
	padding: 55px 0;
	h4 {
		color:#fff;
		font-family:$script;
		font-size:50px;
	    font-weight: 100;
	    text-align: center;
	    margin: 0 0 50px;
	}
	a.contact {
	    background: transparent;
	    border: 3px solid white;
	    color: white;
	    text-decoration: none;
	    text-transform: uppercase;
	    font-size: 16px;
	    letter-spacing: 0.15rem;
	    padding: 20px 30px;
	    font-family:$proxy;
	    transition:all 0.5s;
	}
	a.contact:hover {
		background:#fff;
		color:#235b60;
	}
	ul {
	    list-style-type: none;
	    display: flex;
	    display:-ms-flex;
	    display:-webkit-flex;
	    justify-content: space-between;
	    -ms-justify-content: space-between;
	    -webkit-justify-content: space-between;
	    padding: 0;
	    margin: 60px auto 0;
    	width: 165px;
	}
}















